<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!--  외부 CSS 연결하기 -->
<link rel="stylesheet"  href="../css/layout1.css">

</head>
<body>

	<div id="main_box">

		<div id="header">header</div>
		<div id="aside">aside</div>
		
	<!-- 	<div id="content">
		
			<div id="notice">notice</div>
			<div id="note">note</div>
			<div id="site">notice</div>
			<div id="repple">note</div>
		
		
		</div>
		 -->
			<div id="content">
		
			<div class="box_style">notice</div>
			<div class="box_style">note</div>
			<div class="box_style">notice</div>
			<div class="box_style">note</div>
		
		
		</div>
		
		<div id="footer">footer</div>

	</div>


</body>
</html>